@import "veriables.less";
@import "../scripts/flexslider/flexslider.less";

body, html{
    width: 100%;
    height: 100%;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    p{
        margin: 0;
        color: @font-color;
    }
    a:hover{
        text-decoration: none;
    }
}
.content-holder{
    max-width: 1400px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    &.header{
         display: flex;   
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;
         .logo{
             flex: 1 1 50%;
         }
         ul{
            display: flex;
            flex: 1 1 50%;
            justify-content: space-around;
             li{
                 display: inline-block;
                 a{
                    font-weight: @font-weight-bold;
                    color: @font-color-white;
                    text-transform: uppercase; 
                    text-decoration: none;
                    
                 }
             }
         }
    }
    &.order-process{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        .order-process-conteiner{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 300px;
            img{
                max-width: 90%;
            }
            p{
                flex: 0 0 50%; 
                text-transform: uppercase;
                text-align: center;
            }
            span{
                font-weight: @font-weight-bold;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
    &.button-holder{
        p{
            text-align: center;
            font-size: 15px;
            max-width: 560px;
            margin: 50px auto 100px;
        }
    }
}

header {
    height: 113px;
    width:100%;
    opacity: 0.34;
    background: #090b0d;
    position: absolute;
    z-index: 10;
}

&.main-slider{
    max-height: 1064px;
    .flexslider{
        background: none;
        border: none;
        ul li{
            display: flex!important;
            align-items: baseline;
            position: relative;
            img{
                max-height: 1064px;
            }
            p{
                align-self: center;
                position: absolute;
                color: @font-color-white;
                font-size: 60px;
                max-width: 400px;
                font-weight: 300;
                text-transform: uppercase;
                left: 30px;
            }
        }
        .flex-control-nav{
            width: auto;
            top: 80%;
            left: 30px;
            bottom: auto;
            a{
                background: none;
                border: 3px solid @font-color;
                &.flex-active{
                    border-color: @button-color;
                    background: @button-color;
                }
            }
        }
        .flex-direction-nav{
            display: none;
        }
    } 
}

.link-button{
    display: block;
    background: @button-color;
    font-size: 24px;
    font-weight: @font-weight-bold;
    text-align: center;
    box-sizing: border-box;
    width: 215px;
    height:54px;
    border-radius: 35px;
    color: @font-color-white;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    margin: 0 auto;
    padding-top: 13px;
    &:hover{
        background: #72fd7f;
        color: #fff;  
    }
}
/*=======footer design================*/
.footer-distributed{
  background-color: #2e3843;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}



/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #66e572;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #66e572;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
     &:hover{
        background: #72fd7f;
        color: #fff;  
    }
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
