/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Helvetica";
  color: #a8a8a8;
  font-size: 18px;
}
body p,
html p {
  margin: 0;
  color: #999;
}
body a:hover,
html a:hover {
  text-decoration: none;
}
header {
  height: 113px;
  width: 100%;
  position: absolute;
  z-index: 10;
}
header .transparent {
  opacity: 0.34;
  background: #090b0d;
  width: 100%;
  position: absolute;
  height: 100%;
}
.content-holder {
  max-width: 1400px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.content-holder.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.content-holder.header .logo {
  flex: 1 1 50%;
}
.content-holder.header ul {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-around;
}
.content-holder.header ul li {
  display: inline-block;
}
.content-holder.header ul li a {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.content-holder.header ul li a:hover {
  color: #66e572;
}
.content-holder.order-process {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
  position: relative;
}
.content-holder.order-process .order-process-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
}
.content-holder.order-process .order-process-conteiner img {
  max-width: 90%;
}
.content-holder.order-process .order-process-conteiner p {
  flex: 0 0 50%;
  text-transform: uppercase;
  text-align: center;
}
.content-holder.order-process .order-process-conteiner span {
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
}
.content-holder.order-process svg {
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotate(23deg);
  min-height: 520px;
  position: absolute;
}
.content-holder.button-holder p {
  text-align: center;
  font-size: 15px;
  max-width: 560px;
  margin: 50px auto 100px;
}
.content-holder.packages .packages-header {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.content-holder.packages .package-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 40px 0 80px;
}
.content-holder.packages .package-gallery .package {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  min-height: 300px;
}
.content-holder.packages .package-gallery .package img {
  max-width: 100%;
}
.content-holder.packages .package-gallery .package .package-header {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #66e572;
  line-height: 50px;
}
.content-holder.packages .package-gallery .package .package-description-text {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
.main-slider {
  max-height: 1064px;
}
.main-slider .flexslider {
  background: none;
  border: none;
}
.main-slider .flexslider ul li {
  display: flex!important;
  align-items: baseline;
  position: relative;
}
.main-slider .flexslider ul li img {
  max-height: 1064px;
}
.main-slider .flexslider ul li p {
  align-self: center;
  position: absolute;
  color: #fff;
  font-size: 60px;
  max-width: 400px;
  font-weight: 300;
  text-transform: uppercase;
  left: 30px;
}
@media screen and (max-width: 768px) {
  .main-slider .flexslider ul li p {
    font-size: 25px;
    max-width: 260px;
  }
}
.main-slider .flexslider .flex-control-nav {
  width: auto;
  top: 80%;
  left: 30px;
  bottom: auto;
}
.main-slider .flexslider .flex-control-nav a {
  background: none;
  border: 3px solid #999;
}
.main-slider .flexslider .flex-control-nav a.flex-active {
  border-color: #66e572;
  background: #66e572;
}
.main-slider .flexslider .flex-direction-nav {
  display: none;
}
.link-button {
  display: block;
  background: #66e572;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  width: 215px;
  height: 54px;
  border-radius: 35px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 10px;
}
.link-button:hover {
  background: #15c92d;
  color: #ffffff;
}
.company-photo {
  min-height: 700px;
  max-height: 1080px;
  background: url(../images/company.jpg) 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-bottom: 46px;
}
.company-photo p {
  font-size: 60px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
.about-company {
  padding-top: 30px;
}
.about-company p {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.about-company img {
  margin: 40px auto;
  max-width: 1200px;
  display: block;
}
.grey-overlay-map {
  background: #f0f0f0;
  padding: 145px 0;
}
#map {
  height: 500px;
}
.map {
  position: relative;
}
.map .map-overlay {
  position: absolute;
  width: 900px;
  height: 500px;
  background: #fff;
  opacity: 0.7;
  z-index: 10;
  top: 0;
  left: 50px;
}
.map .map-contacts-form {
  position: absolute;
  top: 50%;
  z-index: 11;
  margin-top: -150px;
  left: 150px;
  display: flex;
}
.map .map-contacts-form .map-contacts {
  height: 300px;
  width: 333px;
  background: #fff;
  z-index: 11;
  box-sizing: border-box;
  padding: 30px 20px 0;
  margin-right: 30px;
}
.map .map-contacts-form .map-contacts .contact-social {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 13px;
}
.map .map-contacts-form .map-form input {
  width: 350px;
  display: block;
  height: 36px;
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 20px;
}
.map .map-contacts-form .map-form textarea {
  width: 350px;
  height: 188px;
  box-sizing: border-box;
  padding-left: 10px;
  border: none;
  resize: none;
}
.packages-section {
  margin-bottom: 40px;
}
/*=======footer design================*/
.footer-distributed {
  background-color: #2e3843;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
}
.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
@media (max-width: 880px) {
  .footer-distributed .footer-left {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}
@media (max-width: 880px) {
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
.footer-distributed .footer-center i {
  background-color: #66e572;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
@media (max-width: 880px) {
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center i.fa-envelope:hover {
  background: #15c92d;
  color: #fff;
}
.footer-distributed .footer-center i.fa-phone:hover {
  background: #15c92d;
  color: #fff;
}
.footer-distributed .footer-center i.fa-map-marker:hover {
  background: #15c92d;
  color: #fff;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
@media (max-width: 880px) {
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #66e572;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
  background: #15c92d;
  color: #ffffff;
}
.grey-overlay {
  background: #f0f0f0;
}
.registration .registration-header {
  color: #000000;
  font-size: 80px;
  text-align: left;
  font-weight: 300;
}
.registration .progress-bar {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.registration .progress-bar .progress {
  width: 103px;
  height: 4px;
  background: #fff;
  cursor: pointer;
}
.registration .progress-bar .progress.active {
  background: #66e572;
}
.registration .form-holder .form-conteiner {
  display: none;
}
.registration .form-holder .form-conteiner.active {
  display: block;
}
.registration body {
  font-family: Helvetica, sans-serif;
  background: #66e572;
  background-size: cover;
  height: 100vh;
}
.registration h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}
.registration .button {
  font-size: 15px;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 0.4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.registration .button:hover {
  background: #06D85F;
}
.registration .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.registration .overlay:target {
  visibility: visible;
  opacity: 1;
}
.registration .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.registration .popup h2 {
  margin-top: 0;
  color: #06D85F;
  font-family: Helvetica, Arial, sans-serif;
}
.registration .nutrient {
  margin-top: 0;
  color: #331;
  font-family: Helvetica, Arial, sans-serif;
}
.registration .blue_button {
  display: block;
  background: #66e572;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  border-radius: 35px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 10px;
}
.registration .blue_button:hover {
  background: #15c92d;
  color: #ffffff;
}
.registration .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.registration .popup .close:hover {
  color: #06D85F;
}
.registration .popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .registration .box {
    width: 70%;
  }
  .registration .popup {
    width: 70%;
  }
}
.qa {
  background-color: #f1f1f1;
}
.qa .content-holder {
  position: relative;
  margin-bottom: 50px;
}
.qa .qa-accordion-holder {
  margin: 0 auto;
  max-width: 780px;
  min-height: 600px;
  box-sizing: border-box;
  padding-top: 160px;
}
.qa .qa-accordion-holder h3 {
  font-weight: lighter;
  font-size: 16px;
  color: #595959;
}
.qa .qa-accordion-holder h3.active {
  color: #15c92d;
}
.qa .qa-accordion-holder h3:hover {
  color: #15c92d;
}
.qa .qa-accordion-holder h3:focus {
  color: #15c92d;
}
.qa .qa-accordion-holder .ui-accordion-content {
  height: auto!important;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
}
.qa .qa-accordion-holder .ui-accordion-header {
  background-color: transparent;
  border: transparent;
  outline: none;
}
.qa .qa-accordion-holder .ui-accordion-header .ui-icon-green {
  background-image: url(../images/qa-green-icons.png);
}
.qa .qa-accordion-holder .ui-accordion-header .ui-icon-white {
  background-image: url(../images/qa-white-icons.png);
}
.qa .qa-accordion-holder p {
  font-size: 14px;
  border-radius: 12px;
  margin: 0px 20px;
}
.qa .qa-accordion-holder ul {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-around;
}
.qa .qa-accordion-holder ul li {
  display: list-item;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
}
.qa .qa-bgr-holder {
  margin-bottom: -80px;
  position: relative;
  min-height: 600px;
}
.qa .qa-bgr {
  background: url(../images/FAQ-bgr.png) no-repeat center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.qa .qa-contact-us-holder {
  margin: 0 auto;
  max-width: 780px;
  box-sizing: border-box;
  text-align: center;
}
.qa .qa-contact-us-holder h3 {
  font-weight: lighter;
  font-size: 28px;
  color: #595959;
}
.qa .qa-contact-us-holder p {
  font-size: 14px;
  border-radius: 12px;
  margin: 0px 20px;
  padding-bottom: 20px;
}
.qa .qa-link-button {
  display: block;
  background: #66e572;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  height: 28px;
  border-radius: 35px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 8px;
}
.qa .qa-link-button:hover {
  background: #15c92d;
  color: #ffffff;
}
.personal-info form {
  width: 700px;
  margin: auto;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
.personal-info p {
  margin: 0px;
  margin-top: 17px;
  margin-left: 20px;
  margin-bottom: 3px;
  color: #a09a9a;
}
.personal-info .col1 {
  background-color: #ffffff;
  height: 277px;
  width: 300px;
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 17px;
  display: inline-block;
  float: left;
}
.personal-info .col1 input {
  border: 1px solid #dedede;
  border-radius: 26px;
  height: 40px;
  width: 278px;
  font-size: 20px;
  color: #8c8c8c;
  outline: none;
  padding-left: 20px;
  font-family: 'Raleway', sans-serif;
}
.personal-info .col2 input {
  border: 1px solid #dedede;
  height: 33px;
  width: 320px;
  padding-left: 10px;
  margin-bottom: 28px;
  margin-left: 10px;
  font-size: 15px;
  color: #8c8c8c;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.personal-info .col2 {
  background-color: transparent;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 17px;
  margin-left: 30px;
  height: 277px;
  width: 350px;
}
.personal-info .submit {
  display: inline-block;
  height: 30px;
  width: 166px;
  float: right;
  margin-top: 35px;
}
.personal-info input[type="submit"] {
  height: 45px;
  width: 158px;
  border: 0;
  background-color: #69e278;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  outline: none;
}
.personal-info input[type="submit"]:hover {
  background-color: #15c92d;
}
.personal-info .title hr:first-child {
  background-color: #69e279;
}
.personal-info input[type="submit"]:hover::hover {
  background-color: #15c92d;
}
.personal-info hr {
  display: inline-block;
  width: 70px;
  background-color: white;
  border: 0;
}
.personal-info p {
  font-size: 14px;
  border-radius: 12px;
  margin: 0px 20px;
}
.personal-info ul {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-around;
}
.personal-info ul li {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.col-left input {
  border: 1px solid #dedede;
  height: 33px;
  width: 320px;
  padding-left: 10px;
  margin-bottom: 28px;
  margin-left: 10px;
  font-size: 15px;
  color: #8c8c8c;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.col-left select {
  border: 1px solid #dedede;
  height: 33px;
  width: 320px;
  padding-left: 10px;
  margin-bottom: 28px;
  margin-left: 10px;
  font-size: 15px;
  color: #8c8c8c;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.col-left {
  background-color: transparent;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 17px;
  margin-left: 30px;
  height: 277px;
  width: 350px;
}
.submit {
  display: inline-block;
  height: 30px;
  width: 166px;
  float: right;
  margin-top: 35px;
}
input[type="submit"] {
  height: 45px;
  width: 158px;
  border: 0;
  background-color: #69e278;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  outline: none;
}
input[type="submit"]:hover {
  background-color: #15c92d;
}
.title hr:first-child {
  background-color: #69e279;
}
input[type="submit"]:hover::hover {
  background-color: #15c92d;
}
.col-middle input {
  border: 1px solid #dedede;
  height: 33px;
  width: 320px;
  padding-left: 10px;
  margin-bottom: 28px;
  margin-left: 10px;
  font-size: 15px;
  color: #8c8c8c;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.col-middle select {
  border: 1px solid #dedede;
  height: 33px;
  width: 320px;
  padding-left: 10px;
  margin-bottom: 28px;
  margin-left: 10px;
  font-size: 15px;
  color: #8c8c8c;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.col-middle {
  background-color: transparent;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 17px;
  margin-left: 30px;
  height: 277px;
  width: 350px;
}
.submit {
  display: inline-block;
  height: 30px;
  width: 166px;
  float: right;
  margin-top: 35px;
}
input[type="submit"] {
  height: 45px;
  width: 158px;
  border: 0;
  background-color: #69e278;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  outline: none;
}
input[type="submit"]:hover {
  background-color: #15c92d;
}
.title hr:first-child {
  background-color: #69e279;
}
input[type="submit"]:hover::hover {
  background-color: #15c92d;
}
.col {
  background: red;
}
